
<h4 class="text-left">
  <%=@post.title.html_safe%></h4><br/>
<img  class="img-fluid"  style="height: 250px;" src=<%=@post.mainpic%>><br/>
<h4 class="text-left">
  <%=@post.content.html_safe%></h4><br/>
   
              

       